.answer-bubble{
    display:flex;
    align-items:center;
    border-radius:5px;
    border-style:none;
    text-align:right;
    margin:10px;
    width:max-content;
}

.button-container{
   align-items:center; 
}